body{

}

h1{
	color: #006400;
}

#headline{
	font-family: georgia;
	text-align: center;
}

p{
	line-height: 19px;
}

h3{
	text-transform: uppercase;
	font-weight: bold;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

img{
	float: left;
	margin: 20px;
}

#list{
	display: block;
	float: left;
}

#ref{
	display: block;
	float: left;
}
